REACT_APP_CONTENTFUL_SPACE_ID=x7yr1umrys7s
REACT_APP_CONTENTFUL_ENVIRONMENT=master
REACT_APP_CONTENTFUL_DELIVERY_TOKEN=FvjI5rX5uPXHQpqWFVgaWSlhr9FnOOsZcHdomxfjCyg
REACT_APP_CONTENTFUL_INSIGHTS_TYPE_ID=kurioInsights
