fastapi==0.104.1
uvicorn==0.24.0
google-cloud-storage==2.14.0
sentence-transformers==2.2.2
faiss-cpu==1.9.0.post1
beautifulsoup4==4.12.2
requests==2.31.0
python-dotenv==1.0.0

# Required for main.py
langchain-pinecone==0.2.13
langchain-openai==1.0.3
pinecone==7.3.0
pydantic==2.12.4
pydantic-settings==2.6.1
